<%=form_for(@users) do |user| %>
	<table>
		<tr><td>Name :</td><td><%=user.text_field :name%></td></tr>
		<tr><td>Password :</td><td><%=user.text_field :password%></td></tr>
		<tr><td></td><td><%=user.submit%></td></tr>
	</table>
<% end %>
